header.bg-indigo-600.p-4 
    .container.mx-auto.flex.justify-between.items-center
        a(href="/")
            h1.text-2xl.text-white.font-extrabold.text-center Bienes 
                span.font-normal Raices


        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")   
           a(href="/auth/registro" class="mx-3") Crear Cuenta 
           a(href="/auth/login") Iniciar Sesion


div(class="bg-indigo-700 py-5 hidden lg:block")    
    div(class="container mx-auto flex justify-between items-center")
        nav(class="flex gap-6 items-center")    
            a(href="/categorias/1" class="text-sm font-bold uppercase text-white")  Casa
            a(href="/categorias/2" class="text-sm font-bold uppercase text-white")   Apartamentos
            a(href="/categorias/3" class="text-sm font-bold uppercase text-white")   Terreno
            a(href="/categorias/4" class="text-sm font-bold uppercase text-white")   Cabaña
            a(href="/categorias/5" class="text-sm font-bold uppercase text-white")   Finca
        form(action="/buscador" method="POST" class="flex gap-3 items-center") 
            label(for="termino" class="text-sm uppercase font-bold text-white") Busqueda 
            input(type="text" id="termino" name="termino" placeholder="Buscar Propiedades " class="p-2 rounded-lg shadow-md text-sm")

            input(type="submit" class="bg-indigo-800 hover:bg-indigo-600 rounded-lg text-sm text-white uppercase font-bold cursor-pointer p-2" value="buscar")
